.menu {
    background-color: var(--color-secondary);
    height: 2.3rem;
    font-size: 2rem;
    padding: 1.2rem 2.5rem;
}

.menu-list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu-link {
    transition: all 0.3s ease;
}

.menu-link:hover {
    background-color: var(--color-salmon);
}

.menu-link a {
    color: #fff;
    text-decoration: none;
}