.signup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.signup-form {
    display: flex;
    flex-direction: column;
    
}

.signup-form label {
    margin-bottom: 1rem;
}

.signup-form input:not(:last-child) {
    margin-bottom: 2rem;
}

textarea {
    margin-bottom: 1rem;
}

.submit-btn {
    cursor: pointer;
}

.signup-error {
    margin: 2rem 0;
    font-weight: 700;
    color: var(--color-salmon);
}