table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid black;
    text-align: left;
    padding: 0.8rem;
}

tr:nth-child(odd) {
    background-color: var(--color-biege);
}